@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Manrope", sans-serif;
}
body{
    width: 90%;
    margin: auto;
    max-width: 1100px;
}
:root{
    --dark01:#1c1c1c;
    --dark02:#494949;
    --dark03:#777777;
    --dark04:#a4a4a4;
    --dark05:#d2d2d229;
    --dark06:#383838;
    --dark07:#f4f4f4;
    --dark08:#000000;
    --dark09:white;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 800;
    text-decoration: capitalize;
    color:var(--dark01);
}
p{
    font-size: 1rem;
    color: var(--dark03);
    font-weight: 600;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.3rem;
}

/* Banner Css  */
.banner_section{
    background-color: var(--dark05);
    padding: 0 30px 30px 0;
}
.banner_discription{
    padding-top: 20px;
    padding-bottom: 20px;
}
.banner_button{
    width: 165px;
    padding:16px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff0000, #ff8938);
    color: var(--dark09);
}
.banner_image{
    padding-top: 60px;
}
.banner_rating{
    width: 200px;
    margin: auto;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
}
.rating_icon{
    color: yellow;
    width: 35px;
}

/* Feature Section  */
.feacture_section{
    background-color: #d2d2d229;
    padding: 40px 0;
}
.header_content{
    padding: 40px 0;
}
.card_image{
    width: 250px;
    padding: 30px 60px;
    margin: auto;
}
.card_content{
    padding: 0 10px;
}
.feature_card{
    border-radius: 5px;
}
.feature-card::hover{
    background-color: var(--dark04);
    transition: all 0.8s ease-in-out;

}


@media only screen and (max-width: 600px) {
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1.3rem;
    }
    h6{
        font-size: 1.1rem;
    }
    p{
        font-size: .8rem;
    }
    .banner_discription{
    padding: 20px;
    margin: auto;
    }
    .banner_button{
    margin: auto;
}
}


